.gopath
.idea
*.iml
logs
*.pprof
*.output
*.data
*.sw[ap]
*.yml
*.pid
*.tar.gz
*.log
tags
result.db.*
bin/*
conf/*
!conf/redis-shake.conf
!.circleci/config.yml

dump.data
runtime.trace

.DS_Store

data

.cache/
diagnostic/
*.pid
src/vendor/*
!src/vendor/vendor.json
